In [23]:
import numpy as np
import pandas as pd
# from scipy import stats
# from sklearn import preprocessing

In [24]:
def sgG(data,lr,m):
    N,n=data.shape
    ms=np.zeros(n)
    for j in range(N):
        x=data.iloc[j:j+1,0:n-1]
        x=x.values
#         x=x.reshape(1,-1)
#         x=scaller.transform(x)
#         x.reshape(-1,1)
        x=np.append(x,[1])
        y=data.iloc[j:j+1,n-1:n]
        M=(-2/N)*(y-(m*x).sum()).values
        Z=(M*x)
        ms=Z
    nm = m-(lr*ms)
    return nm

In [25]:
def cost(data,m):
    tc=0;
    N,n=data.shape
    for i in range(N):
        x=data.iloc[i:i+1,0:n-1]
        x=x.values
#         x=x.reshape(1,-1)
#         x=scaller.transform(x)
#         x.reshape(-1,1)
        x=np.append(x,[1])
        y=data.iloc[i:i+1,n-1:n].values
        tc+=(y-((m*x).sum()))**2
    return tc

In [26]:
def gdG(data,lr,it):
    N,M=data.shape
    m= np.zeros(M)
    m=sgG(data,lr,m)
    for i in range(it):
#         print(m.shape)
        m=sgG(data,lr,m) #single step
        print(i, " Cost: ",cost(data,m))
#     for i in m:
#         print(i,end=", ")
    return m

In [27]:
def run():
    iris = pd.read_csv("boston_train.csv",delimiter=",")
#     iris=iris.iloc[0:500,:]
    res=iris.iloc[:,13:14]
    iris=iris.iloc[:,0:13]
    (N,M)=iris.shape
#     print
    k=0
    for i in range(M):
        iris[k]=(iris[iris.columns[i]]*iris[iris.columns[i]])**0.5
        k=k+1
    iris[' res']=res
    data=iris
    lr=1.5
    it=51
    m=gdG(data,lr,it)
    return m

In [28]:
def predict(m,data):
    N,n=data.shape
    print(N)
    y=np.zeros(N)
    for j in range(N):
        x=data.iloc[j:j+1,:]
        x=x.values
#         x=x.reshape(1,-1)
#         x=scaller.transform(x)
#         x.reshape(-1,1)
        x=np.append(x,[1])
        y[j]=(m*x).sum()
        print("\n",j," ",x,"   ",y[j])
    return y

In [ ]:
# data=np.genfromtxt("boston_train.csv",delimiter=",")
# data2=np.genfromtxt("boston_test.csv",delimiter=',')
# N,n=data2.shape
# x=data[:100,:n]
# x=np.concatenate((x, data2), axis=0)
# M,n=x.shape
# k=500
# iris=pd.DataFrame(x)
# for i in range(n):
#     iris[k]=(iris[iris.columns[i]]*iris[iris.columns[i]])**0.5
#     k=k+1
# x=iris.values
# one=np.ones((x.shape[0],1))
# scaller = preprocessing.StandardScaler()
# scaller.fit(x)
m=run()
iris = np.genfromtxt("boston_test.csv",delimiter=",")
iris=pd.DataFrame(iris)
k=25
N,M=iris.shape
# print("NNNNNNNNNNNNNNNNN",N)
for i in range(M):
    iris[k]=(iris[iris.columns[i]]*iris[iris.columns[i]])**0.5
    k=k+1
data_test=iris
# print("data_test", data_test.shape)
y=predict(m,data_test)
# print (data_test.shape)
# print (y.shape)
np.savetxt("boston.csv", y, delimiter=",", fmt='%.5f')

0  Cost:  [[133796.75635532]]
1  Cost:  [[124670.73299777]]
2  Cost:  [[121026.92377797]]
3  Cost:  [[119455.62111881]]
4  Cost:  [[118724.17906247]]
5  Cost:  [[118360.62277376]]
6  Cost:  [[118170.76621293]]
7  Cost:  [[118068.21713985]]
8  Cost:  [[118011.6229455]]
9  Cost:  [[117979.97853918]]
10  Cost:  [[117962.14696054]]
11  Cost:  [[117952.05338722]]
12  Cost:  [[117946.32499908]]
13  Cost:  [[117943.06910931]]
14  Cost:  [[117941.21694894]]
15  Cost:  [[117940.16280562]]
16  Cost:  [[117939.5626806]]
17  Cost:  [[117939.22097446]]
18  Cost:  [[117939.02639225]]
19  Cost:  [[117938.91558304]]
20  Cost:  [[117938.8524784]]
21  Cost:  [[117938.81654039]]
22  Cost:  [[117938.79607354]]
23  Cost:  [[117938.78441752]]
24  Cost:  [[117938.77777932]]
25  Cost:  [[117938.77399879]]
26  Cost:  [[117938.77184574]]
27  Cost:  [[117938.77061956]]
28  Cost:  [[117938.76992123]]
29  Cost:  [[117938.76952353]]
30  Cost:  [[117938.76929703]]
31  Cost:  [[117938.76916804]]
32  Cost:  [[117938.76909458]]
33  Cost:  [[117938.76905274]]
34  Cost:  [[117938.76902891]]
35  Cost:  [[117938.76901534]]
36  Cost:  [[117938.76900761]]

In [35]:
iris = np.genfromtxt("boston_test.csv",delimiter=",")
iris=pd.DataFrame(iris)
k=25
N,M=iris.shape
print(M)
# print("NNNNNNNNNNNNNNNNN",N)
for i in range(M):
    print(i)
    iris[k]=(iris[iris.columns[i]]*iris[iris.columns[i]])**0.5
    k=k+1
print(iris.shape)
iris.head()

13
0
1
2
3
4
5
6
7
8
9
10
11
12
(127, 26)

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,2.918166,-0.487722,1.015999,-0.272599,0.365444,-1.609343,1.117494,-1.048494,1.661245,1.530926,...,0.272599,0.365444,1.609343,1.117494,1.048494,1.661245,1.530926,0.806576,1.597551,1.041062
1,-0.403392,-0.487722,0.406098,-0.272599,-1.016689,0.560412,-1.332629,1.029344,-0.637962,-0.708183,...,0.272599,1.016689,0.560412,1.332629,1.029344,0.637962,0.708183,1.135347,0.441052,0.894738
2,-0.413178,-0.487722,0.115738,-0.272599,0.158124,-0.234548,0.288933,-0.716639,-0.982843,-0.803212,...,0.272599,0.158124,0.234548,0.288933,0.716639,0.982843,0.803212,1.176466,0.441052,0.500850
3,-0.412649,0.413589,-0.802031,-0.272599,-0.999412,-0.408356,-1.677566,1.435452,-0.637962,-0.981390,...,0.272599,0.999412,0.408356,1.677566,1.435452,0.637962,0.981390,0.765457,0.441052,0.591963
4,-0.405882,-0.487722,-0.375976,-0.272599,-0.299707,-0.127698,-0.504068,-0.483566,-0.523001,-0.143951,...,0.272599,0.299707,0.127698,0.504068,0.483566,0.523001,0.143951,1.130230,0.403663,0.048631

In [16]:
iris = np.genfromtxt("boston_test.csv",delimiter=",")
iris=pd.DataFrame(iris)
k=0
N,M=iris.shape
print("NNNNNNNNNNNNNNNNN",N)

NNNNNNNNNNNNNNNNN 127

In [8]:
iris = pd.read_csv("boston_train.csv",delimiter=",")
iris.head()

,# CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Y
0,-0.407850,-0.487722,-1.266023,-0.272599,-0.576134,1.239974,0.840122,-0.520264,-0.752922,-1.278354,-0.303094,0.410571,-1.097990,37.9
1,-0.407374,-0.487722,0.247057,-0.272599,-1.016689,0.001946,-0.838337,0.336351,-0.523001,-0.060801,0.113032,0.291169,-0.520474,21.4
2,0.125179,-0.487722,1.015999,-0.272599,1.367490,-0.439699,0.687212,-0.577309,1.661245,1.530926,0.806576,-3.795795,0.891076,12.7
3,0.028304,-0.487722,1.015999,-0.272599,1.859875,-0.047918,0.801005,-0.712836,1.661245,1.530926,0.806576,-0.066050,0.215438,19.9
4,-0.412408,-0.487722,-0.969827,-0.272599,-0.913029,-0.384137,-0.834781,0.300508,-0.752922,-0.957633,0.020560,0.431074,0.029007,22.5

In [9]:
iris = pd.read_csv("boston_test.csv",delimiter=",")
iris.head()

,2.91816626,-0.48772236,1.01599907,-0.27259857,0.36544404,-1.60934343,1.11749449,-1.04849446,1.66124525,1.53092646,0.80657583,-1.59755122,1.04106182
0,-0.403392,-0.487722,0.406098,-0.272599,-1.016689,0.560412,-1.332629,1.029344,-0.637962,-0.708183,-1.135347,0.441052,-0.894738
1,-0.413178,-0.487722,0.115738,-0.272599,0.158124,-0.234548,0.288933,-0.716639,-0.982843,-0.803212,1.176466,0.441052,-0.500850
2,-0.412649,0.413589,-0.802031,-0.272599,-0.999412,-0.408356,-1.677566,1.435452,-0.637962,-0.981390,-0.765457,0.441052,-0.591963
3,-0.405882,-0.487722,-0.375976,-0.272599,-0.299707,-0.127698,-0.504068,-0.483566,-0.523001,-0.143951,1.130230,0.403663,0.048631
4,-0.228814,-0.487722,1.568995,-0.272599,0.598679,-1.803097,1.117494,-1.119800,-0.637962,0.170831,1.268938,0.441052,3.049752

In [10]:
iris = pd.read_csv("boston_train.csv",delimiter=",")
#     iris=iris.iloc[0:500,:]
res=iris.iloc[:,13:14]
iris=iris.iloc[:,0:13]
(N,M)=iris.shape
#     print
k=0
print(iris.shape)
for i in range(M):
    iris[k]=(iris[iris.columns[i]]*iris[iris.columns[i]])**0.5
    k=k+1
print(iris.shape)

(379, 13)
(379, 26)

In [11]:
iris = pd.read_csv("boston_test.csv",delimiter=",")
k=0
N,M=iris.shape
print(iris.shape)
# for i in range(M):
#     iris[k]=(iris[iris.columns[i]]*iris[iris.columns[i]])**0.5
#     k=k+1
# print(iris.shape)
# data_test=iris

(126, 13)

In [12]:
# data=np.genfromtxt("boston_train.csv",delimiter=",")
# data2=np.genfromtxt("boston_test.csv",delimiter=',')
# N,n=data2.shape
# x=data[:,:n]
# print(data.shape)
# print(data2.shape)
# x=np.concatenate((x, data2), axis=0)
# M,n=x.shape
# k=500
# iris=pd.DataFrame(x)
# print("iris.shape",iris.shape)
# for i in range(n):
#     iris[k]=(iris[iris.columns[i]]*iris[iris.columns[i]])**0.5
#     k=k+1
# print(x.shape)
# print(iris.shape)
# print(n)
# x=iris.values
# one=np.ones((x.shape[0],1))
# print(x.shape)
# x=np.append(x,one,axis=1)
# print(x.shape)
# scaller = preprocessing.StandardScaler()
# scaller.fit(x)